<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4 th:text="#{header.menuAdmin}">Menu</h4>
    	<div th:replace="fragments/base.html :: DettagliPersona"></div>
		<div>
			<a th:href="@{/addArtista}">Aggiungi artista</a>
   		</div>
   		<div>
			<a th:href="@{/addCollezione}">Inserisci dati collezione</a>
   		</div>
   		<div>
			<a th:href="@{/addCuratore}">Inserisci curatore</a>
   		</div>
   		<div>
			<a th:href="@{/addOpera}">Inserisci dati opera</a>
   		</div>
   		<div>
			<a th:href="@{/addVisita}">Inserisci nuova visita</a>
   		</div>
   		<div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>