<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='SIW')"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h2 th:text="#{header.menuAdmin}">Menu</h2>
    	<div th:replace="fragments/base.html :: DettagliPersona"></div>
    		<div class="column"><strong>Operazioni di aggiunta:</strong>
    		<ul>
			<li><div>
				<a th:href="@{/addArtista}">Aggiungi artista</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/addCollezione}">Inserisci dati collezione</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/addCuratore}">Inserisci curatore</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/addOpera}">Inserisci dati opera</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/addVisita}">Inserisci nuova visita</a>
   			</div></li>
    		</ul></div>
    		<div class="column"><strong>Operazioni di rimozione:</strong>
    		<ul>
   			<li><div>
				<a th:href="@{/deleteArtista}">Rimuovi un artista</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/deleteCollezione}">Rimuovi una collezione</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/deleteCuratore}">Rimuovi un curatore</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/deleteOpera}">Rimuovi un'opera</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/deleteVisita}">Rimuovi una visita</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/deletePrenotazione}">Rimuovi una prenotazione</a>
   			</div></li>
   			<li><div>
				<a th:href="@{/deleteRecensione}">Rimuovi una recensione</a>
   			</div></li>
			</ul></div>
   		<div>
		<br><br><a th:href="@{/logout}">Logout</a>
   		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/default')"></footer>
</body>
</html>