body {
    background: PaleGoldenrod;	
    font-family: 'Tahoma';
    font-size: larger;
}

header {
    background: no-repeat left/cover url(/images/museo.jpg);
    display: flex;
    height: 200px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

header > h1 {
	text-align: left;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Tahoma', cursive,
        fantasy;
    margin: 2%;

}

#flex-container {
	display: flex;
	align-items: flex-start;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.flex-item { 
	transform: skew(-20deg); 
	flex-grow: 1;
	height: 100%;
	text-align: center;
	line-height: 45px;
	font-size: 150%;
	font-family: Arial, Helvetica, sans-serif;
}

#img-container{
	display: flex;
	height: 600px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
}

.img-item{
	align-items: center;
	flex-grow: 1;
}

#img1{
	background: no-repeat left/cover url(/images/amore-e-psiche.jpg);
}

#img2{
	background: no-repeat left/cover url(/images/Gioconda.jpg);
}

#img3{
	background: no-repeat left/cover url(/images/Ninfee.webp);
}

#img4{
	background: no-repeat left/cover url(/images/vangogh-girasoli.jpg);
}

#color1 {
	background-color: LimeGreen;
}

#color2 {
	background-color: Coral;
}

#color3 {
	background-color: MediumPurple;
}


footer {
    border-top-style: outset;
    margin-top: 2em;
	}
	
span.input {width: 30%;}

.button {
  background-color: coral;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.column {
    float: left;
    width: 50%;
}

select {
	 font-size: large;
	 width: 20%; 
	 height: 20%;
}