<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.accediRegistrati})"> </head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
    	<h4>Autenticazione:</h4>
		<div>
			<ul>
				<li>
					<a th:href="@{/login}">Accedi</a>
				</li>
				<li>
					<a th:href="@{/register}">Registrati</a>
				</li>
			</ul>
		</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
</body>
</html>