<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.areaPersonale})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<strong>
	<div id="flex-container">
		<span id="color1" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/artisti}">Artisti</a></span>
		<span id="color2" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/collezioni}">Collezioni</a></span>
		<span id="color3" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/informazioni}">Informazioni</a></span>
	</div>
	</strong>
	<h2>Area Personale</h2>
	<div th:replace="fragments/base.html :: DettagliPersona"></div>
			<div th:if="${prenotazioni}">
    			<h4>Prenotazioni effettuate:</h4>
				<ul>
					<li th:each="prenotazione : ${prenotazioni}">
						<span th:text="${prenotazione.visita.collezione.nome} + ': ' + |${prenotazione.visita.dataVisita} ${prenotazione.visita.ora}|">
						Collezione: Data Ora</span>
					</li>
				</ul>
			</div>

			<div th:if="${recensioni}">
				<strong>Ecco le tue recensioni: </strong>
				<div th:each="recensione : ${utente.recensioni}">
					<ul>
						<li><strong>Titolo: </strong><span th:text="${recensione.titolo}">Titolo</span></li>
						<strong>Testo: </strong><span th:text="${recensione.testo}">Testo</span><br><br>
					</ul>
				</div>
			</div>		
		<div style="text-align: center;">
		<form th:action="@{/addRecensione}" method="GET">
        	<button class="button" 
					type="submit"><span>Scrivi una recensione di questo museo</span></button>
		</form>
    	</div>
		<div>
			<a th:href="@{/logout}">Logout</a>
		</div>
    </div>

    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>