<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=Artisti)">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<div id="flex-container">
		<span id="color1" class="flex-item"><a th:href="@{/}">Artisti</a></span>
		<span id="color2" class="flex-item"><a th:href="@{/collezioni}">Collezioni</a></span>
		<span id="color3" class="flex-item"><a th:href="@{/informazioni}">Informazioni</a></span>
	</div>
	<div th:replace="fragments/base.html :: DettagliPersona"></div>

			<ul>
				<li>
					<a th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
    </div>

    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>