<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.formArtista})"> </head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Inserisci i dati dell'artista'</h4>
	</div>
	<form th:action="@{/artista}" method="POST" th:object="${artista}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div>
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>		
			<div>
				<span>Cognome:</span>
				<span><input type="text" th:field="*{cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>
			<div>
				<span>Nazionalita:</span>
				<span><input type="text" th:field="*{nazionalita}" /></span>
			</div>
			<div>
				<span>Luogo di nascita:</span>
				<span><input type="text" th:field="*{luogoNascita}" /></span>
			</div>
			<div>
				<span>Data di nascita:</span>
				<span><input type="date" th:field="*{dataNascita}" /></span>
				<!span th:if="${#fields.hasErrors('dataNascita')}" th:errors="*{dataNascita}"><!/span>
			</div>
			<div>
				<span>Luogo di morte:</span>
				<span><input type="text" th:field="*{luogoMorte}" /></span>
			</div>
			<div>
				<span>Data di morte:</span>
				<span><input type="date" th:field="*{dataMorte}" /></span>
				<!span th:if="${#fields.hasErrors('dataMorte')}" th:errors="*{dataMorte}"><!/span>
			</div>
			
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>