<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=Artisti)">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<div id="flex-container">
		<span id="color1" class="flex-item"><a href="artisti">Artisti</a></span>
		<span id="color2" class="flex-item"><a href="/">Homepage</a></span>
		<span id="color3" class="flex-item"><a href="informazioni">Informazioni</a></span>
	</div>
	<form th:action="@{/opere}" method="POST">
		<ul>
        	<label>Cerca l'opera desiderata:</label> <input type='text' name='titolo' />
        	<input type="submit" value="cerca">
    	</ul>
	</form>
	<div>
    	<h4>Lista delle collezioni esposte nel museo:</h4>
		<ul>
			<li th:each="collezione : ${collezioni}">
				<a href="collezione.html" 
				   th:href="@{'/collezione' + '/' + ${collezione.id}}" 
				   th:text="|${collezione.nome}|">Nome</a>
			</li>
		</ul>
	</div>

    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>