<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.collezioneDelete})"> </head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Selezione quale collezione rimuovere</h4>
	</div>
	<form th:action="@{/deleteCollezione}" method="POST" th:object="${collezioni}">	
	
			<div>
				<span>Collezioni:</span>
				<select name='collezioneId'>
    				<option th:each="collezione : ${collezioni}" th:value="${collezione.id}" th:text="${collezione.nome}">
    				</option>
				</select>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>