<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.collezione})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<strong>
	<div id="flex-container">
		<span id="color1" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/artisti}">Artisti</a></span>
		<span id="color2" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/collezioni}">Collezioni</a></span>
		<span id="color3" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/informazioni}">Informazioni</a></span>
	</div>
	</strong>
	<div>
    	<h4>Dettagli collezione:</h4>
    	<div th:if="${collezione}" th:object="${collezione}">
			<strong>Nome: </strong><span th:text="*{nome}">Nome</span><br>
			<strong>Descrizione: </strong><span th:text="*{descrizione}">Descrizione</span><br>
			<strong>Curatore: </strong>
					<a 
					   th:href="@{'/curatore' + '/' + *{curatore.id}}" 
					   th:text="|*{curatore.nome} *{curatore.cognome}|">Nome Cognome</a><br>
    	</div>
    	<h4>Opere esposte nella collezione:</h4>
		<ul>
			<li th:each="opera : ${collezione.opere}">
				<a href="opera.html" 
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="|${opera.titolo}|">Nome</a>
			</li>
		</ul>
	</div>
	<div style="text-align: center;">
		<form th:action="@{/addPrenotazione}" method="POST">
			<input type="hidden" name="collezioneId" th:value="${collezione.id}"/>
        	<button class="button" 
					type="submit"><span>Prenota una visita per questa collezione!</span></button>
		</form>
    </div>

    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>