<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.informazioni})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<div id="flex-container">
		<span id="color1" class="flex-item"><a th:href="@{/artisti}">Artisti</a></span>
		<span id="color2" class="flex-item"><a th:href="@{/collezioni}">Collezioni</a></span>
		<span id="color3" class="flex-item"><a th:href="@{/}">Homepage</a></span>
	</div>
	<h5>Qui si trovano le informazioni + prenotazioni per il museo</h5>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>