<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.informazioni})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<div id="flex-container">
		<span id="color1" class="flex-item"><a th:href="@{/artisti}">Artisti</a></span>
		<span id="color2" class="flex-item"><a th:href="@{/collezioni}">Collezioni</a></span>
		<span id="color3" class="flex-item"><a th:href="@{/}">Homepage</a></span>
	</div>
	<br><strong th:text="#{header.informazioni}"> Presentazione </strong><br>
	<span th:text="#{content.informazioni}"> Descrizione </span><br><br>
	
	<div>
		<li><strong>Ecco cosa dicono di noi: </strong></li>
		<ul>
		<div th:each="recensione : ${recensioni}">
			<ul>
				<li><strong>Titolo: </strong><span th:text="${recensione.titolo}">Titolo</span></li>
				<strong>Testo: </strong><span th:text="${recensione.testo}">Testo</span><br>
				<strong>Utente: </strong><span th:text="${recensione.utente.nome}">Utente</span><br><br>
			</ul>
		</div>
		</ul>
	</div>
	
	
	
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>