<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{title.opere})">
		<meta name = "viewport" content="width = device-width, initial-scale = 1" />
	</head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<strong>
	<div id="flex-container">
		<span id="color1" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/artisti}">Artisti</a></span>
		<span id="color2" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/collezioni}">Collezioni</a></span>
		<span id="color3" class="flex-item"><a style="color:PaleGoldenrod" th:href="@{/informazioni}">Informazioni</a></span>
	</div>
	</strong>
	<form th:action="@{/opere}" method="POST">
		<ul>
        	<label>Titolo:</label> <input type='text' name='titolo' />
        	<input type="submit" value="cerca">
    	</ul>
	</form>
	<div>
    	<h4>Lista delle opere esposte nel museo:</h4>
		<ul>
			<li th:each="opera : ${opere}">
				<a href="opera.html" 
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="${opera.titolo}">Titolo</a>
			</li>
		</ul>
	</div>

    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>