<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.formOpera})"> </head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Inserisci i dati dell'opera</h4>
	</div>
	<form th:action="@{/opera}" method="POST" th:object="${opera}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div>
				<span>Titolo:</span>
				<span><input type="text" th:field="*{titolo}" /></span>
				<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			</div>	
			<div>
				<span>Anno:</span>
				<span><input type="text" th:field="*{anno}" /></span>
				<span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></span>
			</div>		
			<div>
				<span>Descrizione:</span>
				<span><input type="text" th:field="*{descrizione}" /></span>
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>		
			<div>
				<span>Url immagine:</span>
				<span><input type="text" th:field="*{imageUrl}" /></span>
			</div>
			<div>
				<span>Autore:</span>
				<select th:field="*{autore}">
    				<option th:each="autore : ${artisti}" th:value="${autore.id}" th:text="|${autore.nome} ${autore.cognome}|">
    				</option>
				</select>
			</div>
			<div>
				<span>Collezione:</span>
				<select th:field="*{collezione}">
    				<option th:each="collezione : ${collezioni}" th:value="${collezione.id}" th:text="${collezione.nome}">
    				</option>
				</select>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>