<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.operaDelete})"> </head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Selezione quale opera rimuovere</h4>
	</div>
	<form th:action="@{/deleteOpera}" method="POST" th:object="${opere}">	
	
			<div>
				<span>Opere:</span>
				<select name='operaId'>
    				<option th:each="opera : ${opere}" th:value="${opera.id}" th:text="${opera.titolo}">
    				</option>
				</select>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>