<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.prenotazioneDelete})"> </head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Selezione quale prenotazione rimuovere</h4>
	</div>
	<form th:action="@{/deletePrenotazione}" method="POST" th:object="${prenotazioni}">	
	
			<div>
				<span>Prenotazioni:</span>
				<select name='prenotazioneId'>
    				<option th:each="prenotazione : ${prenotazioni}" th:value="${prenotazione.id}" th:text="|${prenotazione.visita.collezione.nome} ${prenotazione.visita.dataVisita}|">
    				</option>
				</select>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>