<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.formRecensione})"> </head>
<body>
	<div th:replace="fragments/base.html :: areaPersonale"></div>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div  style="text-align: center;">
	<div>
		<h4>Scrivi recensione:</h4>
	</div>
	<form th:action="@{/recensione}" method="POST" th:object="${recensione}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div>
				<span>Titolo:</span><br>
				<span><input type="text" th:field="*{titolo}" /></span>
				<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			</div><br>	
			<div>
				<span>Testo:</span><br>
				<span><textarea name="testo" rows="5" cols="40" th:field="*{testo}" /></span>
				<span th:if="${#fields.hasErrors('testo')}" th:errors="*{testo}"></span>
			</div><br>
			<div>
				<button class="button" type="submit"><span>Pubblica Recensione</span></button>
			</div>
		</div>
	</form>
	</div>
	 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>